body {
    background-color: #f8f9fa;
}

.crypto-icon {
    margin: 0 15px;
    cursor: pointer;
    text-align: center;
}

.crypto-icon img {
    border-radius: 10px;
    transition: transform 0.2s;
}

.crypto-icon:hover img {
    transform: scale(1.1);
}
